{% extends 'base.html' %}
{% block content %}
<div class="text-center">
    <h1 style="margin-top:30px;">Todo app</h1>
    <h4>This application was created to make your life easier</h4>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false"
         style="margin-top:50px; margin-bottom:40px;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://cdn.pixabay.com/photo/2021/11/16/15/35/electronics-6801339_960_720.jpg"
                     class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>New tasks' manager!</h5>
                    <p>You can use this application to be more effective!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2022/05/24/04/38/study-7217599_960_720.jpg"
                     class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>All the necessary functions</h5>
                    <p>All things that you need are here</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2016/02/18/18/57/home-office-1207834_960_720.jpg"
                     class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Just get started!</h5>
                    <p>It is quite simple to start using this app</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="text-center">
        <h1>Let's start</h1>
    </div>
    <div class="container">
        <div class="card" style="width: 100%; margin-bottom:60px; margin-top:30px;">
            <img src="https://cdn.pixabay.com/photo/2017/10/17/14/10/financial-2860753_960_720.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">You can be more productive!</h5>
                <p class="card-text">You can see your progress in this app</p>
            </div>
        </div>

        <div class="card" style="width: 100%; margin-bottom:60px;">
            <img src="https://cdn.pixabay.com/photo/2016/11/29/06/18/home-office-1867761_960_720.jpg"
                 class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">All the information in your profile</h5>
                <p class="card-text">Just log in or sign up!</p>
            </div>
        </div>

        <div class="card" style="width: 100%; margin-bottom:60px;">
            <img src="https://cdn.pixabay.com/photo/2019/05/31/09/15/business-4241785_960_720.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Make the progress!</h5>
                <p class="card-text">We will help you</p>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    {% if request.user.is_authenticated %}
    <h3>You can go to your <a href="#">profile</a></h3>
    {% else %}
    <h3>You can just <a href="{% url 'registration' %}">sign up</a> or <a href="{% url 'login' %}">login</a></h3>
    {% endif %}
</div>
{% endblock %}